

.container {



	font-weight: bold;
	font-family: helvetica;
	background-color: white;
	font-size: 50px;
	margin-top: 50px;
	margin-left: 66%;
	
}

.photo {

	font-weight: bold;
	font-family: helvetica;
	background-color: white;
	margin-left: 69%;
	margin-top: 80px;

}


.smallcontainer {

background-color: white;
width: 100%;
height:1000px;


}






}

.column {

    position: relative;
	width:50%;
	height: 90%;

}

img {


	width:50%;
	height: 50%;
	margin-left: 50%;
	margin-top: 70px;
	margin-right: 50%;
	border:solid;

}




input {

	margin-left: 73%;
	margin-top: 45px;

}