div {
  
  height: 100px;
  width: 100px;
  
}

#square1 {
  
  height: 200px;
  width: 200px;
  background-color: orange;
  position: absolute;


}


#square2 {
  
  height: 200px;
  width: 200px;
  background-color: orange;
  position: relative;
  left: 10px;
  top:17px;
  

}

#square3 {
  
  height: 200px;
  width: 200px;
  background-color: skyblue;
  position: absolute;
  left: 5px;
  top:9px;


  }


  #square4 {
   height: 50px;
  width: 200px;
  background-color: rgb(255, 219, 88);
  position: absolute;
  left: 5px;
  top:80px;



}

